<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="author" content="Statulr and Hamza" />
    <meta
      name="description"
      content="Fast Easy way to Install and Update Aur and Non-Aur Arch Linux Packages"
    />
    <meta property="og:title" content="Aurc - Yet another aur helper" />
    <meta
      property="og:description"
      content="Fast Easy way to Install and Update Aur and Non-Aur Arch Linux Packages!"
    />
    <meta property="og:url" content="https://aurc.run/" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/statulr/aurc-site/main/public/preview.png"
    />
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image:src"
      content="https://raw.githubusercontent.com/statulr/aurc-site/main/public/preview.png"
    />
    <meta name="theme-color" content="#0f172a" />
    <title>Aurc</title>
  </head>
  <body>
    <slot />
  </body>
</html>
